/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import 'mixins';

@c_text: #000;
@c_dim: #888;
@c_bg: #fff;
@c_border: #aaa;
@c_gradient1: #ddd;
@c_gradient2: #eee;
@c_gradient3: #ddd;

@media_tablet: ~"only screen and (min-width: 38em)";
@media_desktop: ~"only screen and (min-width: 52em)";

@desktop_maxwidth: 70rem;


.button {
	.makebutton();

	&.ok,
	&.new,
	&.create,
	&.edit
	{
		.makebutton(#bfb, #050);
	}

	&.delete,
	&.remove
	{
		.makebutton(#fbb, #500);
	}


}

div#main {
	position: relative;
	font-size: 0.9em;
}

h1 {
	font-size: 1.5em;
	margin-top: 0;
	font-weight: bold;
}

h2 {
	font-size: 1.3em;
	font-weight: bold;
}

h3 {
	font-size: 1.15em;
	font-weight: bold;
}

h4 {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
}

h5 {
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
}

h6 {
	font-size: 1em;
	font-style: italic;
	font-weight: normal;
}

header#main_header {
	position: relative;
	min-height: 4em;
	.vgradient(#fff, #ddd);
	padding: 0.2em;

	> .buttons {
		position: absolute;
		z-index: 10;    /* z-index works only on absolute */
	}

	#breadcrumb {
		display: none;  /* hide it in phone layout. Show in tablet and desktop */
		list-style: none;
		margin: 0.5em 0 0 0;
		padding: 0;

		li {
			display: inline-block;

			a {
				display: inline-block;
				text-decoration: none;
				line-height: 2em;
				padding: 0 0.4em;
			}
		}

		li + li:before {
			content: "»";
		}
	}

	a.button.back {
		display: block;
		overflow: hidden;
		font-size: 0.65em;
		text-align: center;
		width: 6em;

		&:before {
			display: block;
			margin: 0 auto;
			font-size: 3em;
			padding: 0;
		}
	}

}

div#main > h1 {
	position: absolute;
	top: 0.8em;
	left: 0.3em;
	right: 0.3em;
	text-align: center;
	margin: 0;
	z-index: 1;
}


ul#ops {
	position: absolute;
	z-index: 10;    /* z-index works only on absolute */
	right: 0.4em;
	top: 0.4em;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
	}

	.button {
		overflow: hidden;
		width: 2.8em;

	}
}

section#body {
	width: 100%;
	margin: 0;

	form {
		width: 98%;
		margin: 0 auto;

		label {
			font-style: italic;
			font-weight: bold;
			display: block;
		}

		input,
		select,
		textarea,
		a.button
		{
			.box-sizing(border-box);
			width: 100%;
			margin: 0 auto 0.8em auto;
		}

		input:not([type=submit]):not([type=button]),
		select,
		textarea
		{
			padding: 0.2em;
			line-height: 1.5;
			border: 1px solid @c_border;
			.box-corners();
		}

		textarea {
			height: 8em;
		}

	}

	article#page_project_bug {
		header.info {
			padding: 0.5em;
			border-top: 1px solid @c_border;
			.vgradient();

			.created_by {
				display: inline;
				font-size: 0.8em;
			}

			.created_on,
			.status
			{
				display: inline;
				color: @c_dim;
				font-size: 0.7em;

				&:before {
					content: ' - ';
				}
			}
		}

		.description {
			margin-bottom: 2em;
			padding: 0.5em;
		}

		form {
			padding: 0.5em;
			width: auto;
			border-top: 1px solid @c_border;
			.vgradient();

			h1 {
				font-size: 0.75em;
				margin-top: 2em;
			}
		}
	}

	ul.projects,
	ul.bugs
	{
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: block;
			padding: 0;
			margin: 0;

			> a {
				display: block;
				text-decoration: none;
				line-height: 3em;
				padding: 0.5em;
				vertical-align: middle;
				color: @c_text;
				border-top: 1px solid @c_border;

				@gradient: @c_gradient1 0%, @c_gradient2 40%, @c_gradient3 100%;
				.vcgradient(@gradient);
			}


		}
	}

}

@media @media_tablet {
}

@media @media_desktop {

div#main {

	> h1 {
		max-width: @desktop_maxwidth;
		margin: 0 auto;
		text-align: left;
		position: relative;
		padding: 1em 0 1.5em;
	}

	header#main_header {
		padding-top: 1em;

		div.buttons {
			display: none;
		}

		#breadcrumb {
			display: block;
			max-width: @desktop_maxwidth;
			margin: 0 auto;
		}
	}

    #body {
	    max-width: @desktop_maxwidth;
		margin: 0 auto;

	    #ops {
		    position: relative;
		    float: right;
		    padding: 0.5em 0;
		    text-align: right;
		    left: 0;
		    right:0;
		    top: -4.5em;
		    bottom: 0;

		    a {
			    width: auto;
		    }
	    }

	    article.page_user {
		    max-width: 40em;
		    margin: 1em auto;
		    padding: 1em;
		    border: 1px solid @c_border;
		    .box-corners();
	    }

	    ul.projects,
	    ul.bugs
	    {
		    border-bottom: 1px solid @c_border;
		    li {
			    > a {
				    background: transparent;
				    padding: 1em;
			    }
		    }
	    }

    }
}

}
