.border(@size: 1px, @color: #eee)
{
	border: solid @size @color;
}

.dotted(@size: 1px, @color: #eee)
{
	border: dotted @size @color;
}

.text-shadow(@x: 0, @y: 1px, @blur: 1px, @color: rgba(128, 128, 128, .50))
{
	text-shadow: @x @y @blur @color;
}

.text-outline(@color: #000)
{
	text-shadow: -1px 0 @color,  0 1px @color,  1px 0 @color,  0 -1px @color;
}

.opacity(@opacity: 0.5) {
	-moz-opacity: @opacity;
	-khtml-opacity: @opacity;
	-webkit-opacity: @opacity;
	opacity: @opacity;
}

.rotate(@deg:5deg){
	-webkit-transform: rotate(@deg);
	-moz-transform: rotate(@deg);
	transform: rotate(@deg);
}

.scale(@ratio:1.5){
	-webkit-transform:scale(@ratio);
	-moz-transform:scale(@ratio);
	transform:scale(@ratio);
}

.translate(@x:0, @y:0) {
	-moz-transform: translate(@x, @y);
	-webkit-transform: translate(@x, @y);
	-o-transform: translate(@x, @y);
	-ms-transform: translate(@x, @y);
	transform: translate(@x, @y);
}

.skew (@deg: -5deg, @deg2: -5deg) {
	-webkit-transform:  skew(@deg, @deg2);
	-moz-transform:     skew(@deg, @deg2);
	-ms-transform:      skew(@deg, @deg2);
	-o-transform:       skew(@deg, @deg2);
}

.hgradient (@startColor: #eee, @endColor: white) {
 	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(left, @startColor, @endColor);
	background-image: -moz-linear-gradient(left, @startColor, @endColor);
	background-image: -ms-linear-gradient(left, @startColor, @endColor);
	background-image: -o-linear-gradient(left, @startColor, @endColor);
	background-image: linear-gradient(left, @startColor, @endColor);
}

.hcgradient(@p) {
	background-image: -webkit-linear-gradient(@p);
	background-image: -moz-linear-gradient(@p);
	background-image: -ms-linear-gradient(@p);
	background-image: -o-linear-gradient(@p);
	background-image: linear-gradient(@p);
}

.vgradient (@startColor: #eee, @endColor: white) {
 	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(top, @startColor, @endColor);
	background-image: -moz-linear-gradient(top, @startColor, @endColor);
	background-image: -ms-linear-gradient(top, @startColor, @endColor);
	background-image: -o-linear-gradient(top, @startColor, @endColor);
	background-image: linear-gradient(top, @startColor, @endColor);
}

.vcgradient(@a) {
	background-image: -webkit-linear-gradient(@a);
	background-image: -moz-linear-gradient(@a);
	background-image: -ms-linear-gradient(@a);
	background-image: -o-linear-gradient(@a);
	background-image: linear-gradient(@a);
}

.cgradient(@h: center, @v: center, @shape: circle, @size: contain, @start: #ddd, @end: #333, @stop: 100%) {
	background-color: @start;
	background-image: -webkit-radial-gradient(@h @v, @shape @size, @start, @end @stop);
	background-image: -moz-radial-gradient(@h @v, @shape @size, @start, @end @stop);
	background-image: -ms-radial-gradient(@h @v, @shape @size, @start, @end @stop);
	background-image: -o-radial-gradient(@h @v, @shape @size, @start, @end @stop);
	background-image: radial-gradient(@h @v, @shape @size, @start, @end @stop);
}

.box-sizing(@type) {
	-webkit-box-sizing: @type;
	-moz-box-sizing: @type;
	box-sizing: @type;
}

.box-shadow(@x: 0, @y: 1px, @blur: 4px, @color) {
	-webkit-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	box-shadow: @arguments;
}

.box-corners(@radius: 2px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.box-rounded(@topright: 2px, @bottomright: 2px, @bottomleft: 2px, @topleft: 2px) {
	-webkit-border-top-right-radius: @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius: @bottomleft;
	-webkit-border-top-left-radius: @topleft;
	-moz-border-radius-topright: @topright;
	-moz-border-radius-bottomright: @bottomright;
	-moz-border-radius-bottomleft: @bottomleft;
	-moz-border-radius-topleft: @topleft;
	border-top-right-radius: @topright;
	border-bottom-right-radius: @bottomright;
	border-bottom-left-radius: @bottomleft;
	border-top-left-radius: @topleft;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.hide-text() {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
}

// Requires inline-block or block for proper styling
.text-overflow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ie7-inline-block() {
	*display: inline; /* IE7 inline-block hack */
	*zoom: 1;
}


.makebutton(@color: #ddd, @textColor: #333, @vpad: 0.8em, @radius: 3px) {
	.box-sizing(border-box);
	display:            inline-block;
	text-decoration:    none;
	text-align:         center;
	line-height:        normal; // firebox bug 349259
	padding:            @vpad 0.6em;  // firebox bug 349259
	/*text-shadow:        0 1px 1px rgba(255,255,255,.50);*/
	color:              @textColor;
	/*box-shadow:         inset 0 1px 0 rgba(255, 255, 255, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.10), 1px 1px 3px rgba(32, 32, 32, 0.10);*/
	border:             1px solid darken(@color, 30);
	.box-corners(@radius);
	@gradient: @color 0%, lighten(@color,8) 40%, darken(@color,8) 100%;
	.vcgradient(@gradient);

	&:hover,
	&.selected
	{
		color: saturate(@textColor, 10);
		@gradient: lighten(@color, 4) 0%, lighten(@color,12) 40%, darken(@color,3) 100%;
		.vcgradient(@gradient);
	}

	&:active {
		color: desaturate(@textColor, 10);
		@gradient: @color 0%, darken(@color,10) 40%, lighten(@color,10) 100%;
		.vcgradient(@gradient);
	}

}
