@font-face {
	font-family: 'Typicons';
	src: url('fonts/typicons-regular-webfont.eot');
	src: url('fonts/typicons-regular-webfont.eot') format('embedded-opentype'),
		url('fonts/typicons-regular-webfont.woff') format('woff'),
		url('fonts/typicons-regular-webfont.ttf') format('truetype'),
		url('fonts/typicons-regular-webfont.svg#TypiconsRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.typicn() {
	font-family: "Typicons", sans-serif;
	/* Reduce blur on icons in chrome, opera, safari and ios. */
	/* This is hacky & bad. Maybe possible for firefox, not sure yet. */
	-webkit-font-smoothing: antialiased;
	-o-transform: scale(1);
	padding-right: 0.4em;
	vertical-align: middle;
	font-size: 1.5em;
	line-height: 1;
}

.button.location:before {.typicn(); content: "A";}
.button.phone:before {.typicn(); content: "B";}
.button.home:before {.typicn(); content: "C";}
.button.camera:before {.typicn(); content: "D";}
.button.left:before {.typicn(); content: "E";}
.button.right:before {.typicn(); content: "F";}
.button.up:before {.typicn(); content: "G";}
.button.down:before {.typicn(); content: "H";}
.button.refresh:before {.typicn(); content: "I";}
.button.sync:before {.typicn(); content: "J";}
.button.loop:before {.typicn(); content: "K";}
.button.repeat:before {.typicn(); content: "L";}
.button.shuffle:before {.typicn(); content: "M";}
.button.rss:before {.typicn(); content: "N";}
.button.cog:before {.typicn(); content: "O";}
.button.spanner:before {.typicn(); content: "P";}
.button.barChart:before {.typicn(); content: "Q";}
.button.pieChart:before {.typicn(); content: "R";}
.button.lineChart:before {.typicn(); content: "S";}
.button.views:before {.typicn(); content: "T";}
.button.zoomIn:before {.typicn(); content: "V";}
.button.zoomOut:before {.typicn(); content: "U";}
.button.export:before {.typicn(); content: "W";}
.button.user:before {.typicn(); content: "X";}
.button.group:before {.typicn(); content: "Y";}
.button.microphone:before {.typicn(); content: "Z";}
.button.globe:before {.typicn(); content: "a";}
.button.thumbsUp:before {.typicn(); content: "b";}
.button.enable:before {.typicn(); content: "b";}
.button.thumbsDown:before {.typicn(); content: "c";}
.button.disable:before {.typicn(); content: "c";}
.button.tag:before {.typicn(); content: "d";}
.button.tab:before {.typicn(); content: "e";}
.button.warning:before {.typicn(); content: "f";}
.button.tick:before {.typicn(); content: "g";}
.button.beta:before {.typicn(); content: "h";}
.button.unlock:before {.typicn(); content: "i";}
.button.lock:before {.typicn(); content: "j";}
.button.eject:before {.typicn(); content: "k";}
.button.move:before {.typicn(); content: "l";}
.button.expand:before {.typicn(); content: "m";}
.button.cancel:before {.typicn(); content: "n";}
.button.power:before {.typicn(); content: "o";}
.button.compass:before {.typicn(); content: "p";}
.button.radar:before {.typicn(); content: "q";}
.button.directions:before {.typicn(); content: "r";}
.button.pin:before {.typicn(); content: "s";}
.button.mute:before {.typicn(); content: "t";}
.button.volume:before {.typicn(); content: "u";}
.button.world:before {.typicn(); content: "v";}
.button.write:before {.typicn(); content: "w";}
.button.minus:before,
.button.remove:before
{
	.typicn(); content: "x";
}
.button.equals:before {.typicn(); content: "y";}
.button.feed:before {.typicn(); content: "z";}
.button.batteryNone:before {.typicn(); content: "0";}
.button.batteryLow:before {.typicn(); content: "1";}
.button.batteryMid:before {.typicn(); content: "2";}
.button.batteryHigh:before {.typicn(); content: "3";}
.button.batteryPower:before {.typicn(); content: "4";}
.button.plus:before,
.button.new:before,
.button.create:before
{
	.typicn(); content: "5";
}
.button.times:before {.typicn(); content: "6";}
.button.next:before {.typicn(); content: "7";}
.button.previous:before {.typicn(); content: "8";}
.button.edit:before {.typicn(); content: "9";}
.button.cut:before {.typicn(); content: "'";}
.button.anchor:before {.typicn(); content: "(";}
.button.bookmark:before {.typicn(); content: ")";}
.button.music:before {.typicn(); content: "*";}
.button.puzzle:before {.typicn(); content: "+";}
.button.archive:before {.typicn(); content: ",";}
.button.mobile:before {.typicn(); content: "-";}
.button.contrast:before {.typicn(); content: ".";}
.button.brightness:before {.typicn(); content: "/";}
.button.flag:before {.typicn(); content: "{";}
.button.info:before {.typicn(); content: "|";}
.button.unknown:before {.typicn(); content: "}";}
.button.chat:before {.typicn(); content: "~";}
.button.mail:before {.typicn(); content: "[";}
.button.message:before {.typicn(); content: "\005C";}
.button.delete:before {.typicn(); content: "]";}
.button.backspace:before {.typicn(); content: "^";}
.button.infinity:before {.typicn(); content: "_";}
.button.key:before,
.button.login:before
{
	.typicn(); content: "$";
}
.button.time:before {.typicn(); content: "%";}
.button.grid:before {.typicn(); content: "\0022";}
.button.list:before {.typicn(); content: "\0023";}
.button.heart:before {.typicn(); content: ";";}
.button.star:before {.typicn(); content: "=";}
.button.back:before {.typicn(); content: "?";}
.button.forward:before {.typicn(); content: "@";}
