<article id="page_project_bug_new" class="page_project_bug">
	<form action="/project/<%= project.url %>/bug" method="post">
		<p>
			<label for="title">Title</label>
			<input type="text" name="title" />
		</p>

		<p>
			<label for="txt">Description</label>
			<textarea name="txt"></textarea>
		</p>


		<input class="button ok edit" type="submit" value="Create" />
		<a class="button back" href="/project/<%= project.url %>">Back to project <%= project.name %></a>
	</form>
</article>
