<article id="page_project_bug" class="page_project_bug">
	<header class="info">
		<span class="created_by"><%= bug.created_by.name %></span>
		<time class="created_on"><%= bug.created_on %></time>
		<% if (bug.status) { %>
			<span class="status status_<%= bug.status %>"><%= bug.status %></span>
		<% } %>
	</header>

	<section class="description">
		<%= bug.txt %>
	</section>

	<ul class="bugs">
		<% bug.comments.forEach(function(comment) { %>
			<li>
				<header class="info">
					<span class="created_by"><%= comment.created_by.name %></span>
					<time class="created_on"><%= comment.created_on %></time>
					<% if (comment.status && comment.status != '-') { %>
						<span class="status status_<%= comment.status %>"><%= comment.status %></span>
					<% } %>
				</header>
				<% if (comment.txt) { %>
					<section class="description">
						<%= comment.txt %>
					</section>
				<% } %>
			</li>
		<% }); %>
	</ul>

	<form method="post" action="/project/<%= project.url %>/bug/<%= bug.num %>">
		<h1>Add comment...</h1>
		<p>
			<textarea name="txt"></textarea>
		</p>
		<p>
			<label>Change status to:</label>
			<select name="status">
				<option value="-">No change</option>
				<% if (bug.status == 'open') { %>
					<option value="closed">Closed</option>
				<% } %>

				<% if (bug.status == 'closed') { %>
					<option value="reopen">Reopen</option>
				<% } %>
			</select>
		</p>
		<input class="button ok add" type="submit" value="Add comment" />
	</form>
</article>
