<ul id="ops">
	<% // if (session.user.can('create', 'bug') && project.hasUser(session.user) ) { %>
		<li>
			<a class="button new" href="/project/<%= project.url %>/bug/new">New&nbsp;bug</a>
		</li>
	<% // } %>
</ul>

<article id="page_project_new" class="page_project">
	<% if (project.description) { %>
		<section class="description">
			<%= project.description %>
		</section>
	<% } %>

	<% if (bugs) { %>
		<ul class="bugs">
			<% bugs.forEach(function(bug) { %>
				<li>
					<a href="/project/<%= project.url %>/bug/<%= bug.num %>">
						<%= bug.title %>
					</a>
				</li>
			<% }); %>
		</ul>
	<% } %>
</article>
