<ul id="ops">
	<% // if (session.user.can('create', 'project')) { %>
		<li>
			<a class="button new" href="/project/new">New</a>
		</li>
	<% // } %>
</ul>

<article id="page_project_list" class="page_project">
	<% if (projects) { %>
		<ul class="projects">
			<% projects.forEach(function(project) { %>
				<li>
					<a href="/project/<%= encodeURIComponent(project.url) %>">
						<%= project.name %>
						<% if (project.bugCount) { %>
							(<%= project.bugCount %> bugs)
						<% } %>
					</a>
				</li>
			<% }); %>
		</ul>

		<% if (page > 0) { %>
			<a href="?page=<%= page-1 %>">&lt;</a>&nbsp;
		<% } %>
		<% if (!lastPage) { %>
			<a href="?page=<%= page-1 %>">&gt;</a>&nbsp;
		<% } %>

	<% } else { %>
		<span class="warning">No project defined</span>
	<% } %>
</article>
