<article id="page_project_new" class="page_project">
	<form action="/project/" method="post">
		<p>
			<label for="name">Name</label>
			<input type="text" name="name" />
		</p>


		<input class="button ok edit" type="submit" value="Create" />
		<a class="button back" href="/project">Back to projects</a>
	</form>
</article>
