<header id="main_header" <% if (locals.back) { %>class="back"<% } %>>
	<div class="buttons">
		<% if (locals.back) { %>
			<a class="button back" href="<%= back.url %>"><%= back.title %></a>
		<% } %>
	</div>

	<% if (locals.breadcrumb) { %>
		<ul id="breadcrumb">
			<% breadcrumb.forEach(function(bcpart) { %>
				<li>
					<a href="<%= bcpart.url %>"><%= bcpart.title %></a>
				</li>
			<% }); %>
		</ul>
	<% } %>

</header>
