/*! normalize.css v1.0.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  *vertical-align: middle;
  /* 3 */

}
/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

  *overflow: visible;
  /* 4 */

}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  *width: 13px;
  /* 3 */

}
/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
@font-face {
  font-family: 'Typicons';
  src: url('fonts/typicons-regular-webfont.eot');
  src: url('fonts/typicons-regular-webfont.eot') format('embedded-opentype'), url('fonts/typicons-regular-webfont.woff') format('woff'), url('fonts/typicons-regular-webfont.ttf') format('truetype'), url('fonts/typicons-regular-webfont.svg#TypiconsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.button.location:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "A";
}
.button.phone:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "B";
}
.button.home:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "C";
}
.button.camera:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "D";
}
.button.left:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "E";
}
.button.right:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "F";
}
.button.up:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "G";
}
.button.down:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "H";
}
.button.refresh:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "I";
}
.button.sync:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "J";
}
.button.loop:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "K";
}
.button.repeat:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "L";
}
.button.shuffle:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "M";
}
.button.rss:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "N";
}
.button.cog:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "O";
}
.button.spanner:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "P";
}
.button.barChart:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "Q";
}
.button.pieChart:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "R";
}
.button.lineChart:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "S";
}
.button.views:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "T";
}
.button.zoomIn:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "V";
}
.button.zoomOut:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "U";
}
.button.export:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "W";
}
.button.user:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "X";
}
.button.group:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "Y";
}
.button.microphone:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "Z";
}
.button.globe:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "a";
}
.button.thumbsUp:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "b";
}
.button.enable:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "b";
}
.button.thumbsDown:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "c";
}
.button.disable:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "c";
}
.button.tag:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "d";
}
.button.tab:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "e";
}
.button.warning:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "f";
}
.button.tick:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "g";
}
.button.beta:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "h";
}
.button.unlock:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "i";
}
.button.lock:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "j";
}
.button.eject:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "k";
}
.button.move:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "l";
}
.button.expand:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "m";
}
.button.cancel:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "n";
}
.button.power:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "o";
}
.button.compass:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "p";
}
.button.radar:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "q";
}
.button.directions:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "r";
}
.button.pin:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "s";
}
.button.mute:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "t";
}
.button.volume:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "u";
}
.button.world:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "v";
}
.button.write:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "w";
}
.button.minus:before,
.button.remove:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "x";
}
.button.equals:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "y";
}
.button.feed:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "z";
}
.button.batteryNone:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "0";
}
.button.batteryLow:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "1";
}
.button.batteryMid:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "2";
}
.button.batteryHigh:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "3";
}
.button.batteryPower:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "4";
}
.button.plus:before,
.button.new:before,
.button.create:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "5";
}
.button.times:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "6";
}
.button.next:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "7";
}
.button.previous:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "8";
}
.button.edit:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "9";
}
.button.cut:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "'";
}
.button.anchor:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "(";
}
.button.bookmark:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: ")";
}
.button.music:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "*";
}
.button.puzzle:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "+";
}
.button.archive:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: ",";
}
.button.mobile:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "-";
}
.button.contrast:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: ".";
}
.button.brightness:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "/";
}
.button.flag:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "{";
}
.button.info:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "|";
}
.button.unknown:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "}";
}
.button.chat:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "~";
}
.button.mail:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "[";
}
.button.message:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "\005C";
}
.button.delete:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "]";
}
.button.backspace:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "^";
}
.button.infinity:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "_";
}
.button.key:before,
.button.login:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "$";
}
.button.time:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "%";
}
.button.grid:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "\0022";
}
.button.list:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "\0023";
}
.button.heart:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: ";";
}
.button.star:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "=";
}
.button.back:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "?";
}
.button.forward:before {
  font-family: "Typicons", sans-serif;
  /* Reduce blur on icons in chrome, opera, safari and ios. */

  /* This is hacky & bad. Maybe possible for firefox, not sure yet. */

  -webkit-font-smoothing: antialiased;
  -o-transform: scale(1);
  padding-right: 0.4em;
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1;
  content: "@";
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  padding: 0.8em 0.6em;
  /*text-shadow:        0 1px 1px rgba(255,255,255,.50);*/

  color: #333333;
  /*box-shadow:         inset 0 1px 0 rgba(255, 255, 255, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.10), 1px 1px 3px rgba(32, 32, 32, 0.10);*/

  border: 1px solid #919191;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(#dddddd 0%, #f1f1f1 40%, #c9c9c9 100%);
  background-image: -moz-linear-gradient(#dddddd 0%, #f1f1f1 40%, #c9c9c9 100%);
  background-image: -ms-linear-gradient(#dddddd 0%, #f1f1f1 40%, #c9c9c9 100%);
  background-image: -o-linear-gradient(#dddddd 0%, #f1f1f1 40%, #c9c9c9 100%);
  background-image: linear-gradient(#dddddd 0%, #f1f1f1 40%, #c9c9c9 100%);
}
.button:hover,
.button.selected {
  color: #382e2e;
  background-image: -webkit-linear-gradient(#e7e7e7 0%, #fcfcfc 40%, #d5d5d5 100%);
  background-image: -moz-linear-gradient(#e7e7e7 0%, #fcfcfc 40%, #d5d5d5 100%);
  background-image: -ms-linear-gradient(#e7e7e7 0%, #fcfcfc 40%, #d5d5d5 100%);
  background-image: -o-linear-gradient(#e7e7e7 0%, #fcfcfc 40%, #d5d5d5 100%);
  background-image: linear-gradient(#e7e7e7 0%, #fcfcfc 40%, #d5d5d5 100%);
}
.button:active {
  color: #333333;
  background-image: -webkit-linear-gradient(#dddddd 0%, #c4c4c4 40%, #f7f7f7 100%);
  background-image: -moz-linear-gradient(#dddddd 0%, #c4c4c4 40%, #f7f7f7 100%);
  background-image: -ms-linear-gradient(#dddddd 0%, #c4c4c4 40%, #f7f7f7 100%);
  background-image: -o-linear-gradient(#dddddd 0%, #c4c4c4 40%, #f7f7f7 100%);
  background-image: linear-gradient(#dddddd 0%, #c4c4c4 40%, #f7f7f7 100%);
}
.button.ok,
.button.new,
.button.create,
.button.edit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  padding: 0.8em 0.6em;
  /*text-shadow:        0 1px 1px rgba(255,255,255,.50);*/

  color: #005500;
  /*box-shadow:         inset 0 1px 0 rgba(255, 255, 255, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.10), 1px 1px 3px rgba(32, 32, 32, 0.10);*/

  border: 1px solid #22ff22;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(#bbffbb 0%, #e4ffe4 40%, #92ff92 100%);
  background-image: -moz-linear-gradient(#bbffbb 0%, #e4ffe4 40%, #92ff92 100%);
  background-image: -ms-linear-gradient(#bbffbb 0%, #e4ffe4 40%, #92ff92 100%);
  background-image: -o-linear-gradient(#bbffbb 0%, #e4ffe4 40%, #92ff92 100%);
  background-image: linear-gradient(#bbffbb 0%, #e4ffe4 40%, #92ff92 100%);
}
.button.ok:hover,
.button.new:hover,
.button.create:hover,
.button.edit:hover,
.button.ok.selected,
.button.new.selected,
.button.create.selected,
.button.edit.selected {
  color: #005500;
  background-image: -webkit-linear-gradient(#cfffcf 0%, #f8fff8 40%, #acffac 100%);
  background-image: -moz-linear-gradient(#cfffcf 0%, #f8fff8 40%, #acffac 100%);
  background-image: -ms-linear-gradient(#cfffcf 0%, #f8fff8 40%, #acffac 100%);
  background-image: -o-linear-gradient(#cfffcf 0%, #f8fff8 40%, #acffac 100%);
  background-image: linear-gradient(#cfffcf 0%, #f8fff8 40%, #acffac 100%);
}
.button.ok:active,
.button.new:active,
.button.create:active,
.button.edit:active {
  color: #045104;
  background-image: -webkit-linear-gradient(#bbffbb 0%, #88ff88 40%, #eeffee 100%);
  background-image: -moz-linear-gradient(#bbffbb 0%, #88ff88 40%, #eeffee 100%);
  background-image: -ms-linear-gradient(#bbffbb 0%, #88ff88 40%, #eeffee 100%);
  background-image: -o-linear-gradient(#bbffbb 0%, #88ff88 40%, #eeffee 100%);
  background-image: linear-gradient(#bbffbb 0%, #88ff88 40%, #eeffee 100%);
}
.button.delete,
.button.remove {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  padding: 0.8em 0.6em;
  /*text-shadow:        0 1px 1px rgba(255,255,255,.50);*/

  color: #550000;
  /*box-shadow:         inset 0 1px 0 rgba(255, 255, 255, 0.10), inset 0 -1px 0 rgba(0, 0, 0, 0.10), 1px 1px 3px rgba(32, 32, 32, 0.10);*/

  border: 1px solid #ff2222;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(#ffbbbb 0%, #ffe4e4 40%, #ff9292 100%);
  background-image: -moz-linear-gradient(#ffbbbb 0%, #ffe4e4 40%, #ff9292 100%);
  background-image: -ms-linear-gradient(#ffbbbb 0%, #ffe4e4 40%, #ff9292 100%);
  background-image: -o-linear-gradient(#ffbbbb 0%, #ffe4e4 40%, #ff9292 100%);
  background-image: linear-gradient(#ffbbbb 0%, #ffe4e4 40%, #ff9292 100%);
}
.button.delete:hover,
.button.remove:hover,
.button.delete.selected,
.button.remove.selected {
  color: #550000;
  background-image: -webkit-linear-gradient(#ffcfcf 0%, #fff8f8 40%, #ffacac 100%);
  background-image: -moz-linear-gradient(#ffcfcf 0%, #fff8f8 40%, #ffacac 100%);
  background-image: -ms-linear-gradient(#ffcfcf 0%, #fff8f8 40%, #ffacac 100%);
  background-image: -o-linear-gradient(#ffcfcf 0%, #fff8f8 40%, #ffacac 100%);
  background-image: linear-gradient(#ffcfcf 0%, #fff8f8 40%, #ffacac 100%);
}
.button.delete:active,
.button.remove:active {
  color: #510404;
  background-image: -webkit-linear-gradient(#ffbbbb 0%, #ff8888 40%, #ffeeee 100%);
  background-image: -moz-linear-gradient(#ffbbbb 0%, #ff8888 40%, #ffeeee 100%);
  background-image: -ms-linear-gradient(#ffbbbb 0%, #ff8888 40%, #ffeeee 100%);
  background-image: -o-linear-gradient(#ffbbbb 0%, #ff8888 40%, #ffeeee 100%);
  background-image: linear-gradient(#ffbbbb 0%, #ff8888 40%, #ffeeee 100%);
}
div#main {
  position: relative;
  font-size: 0.9em;
}
h1 {
  font-size: 1.5em;
  margin-top: 0;
  font-weight: bold;
}
h2 {
  font-size: 1.3em;
  font-weight: bold;
}
h3 {
  font-size: 1.15em;
  font-weight: bold;
}
h4 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}
h5 {
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}
h6 {
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
}
header#main_header {
  position: relative;
  min-height: 4em;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background-image: -moz-linear-gradient(top, #ffffff, #dddddd);
  background-image: -ms-linear-gradient(top, #ffffff, #dddddd);
  background-image: -o-linear-gradient(top, #ffffff, #dddddd);
  background-image: linear-gradient(top, #ffffff, #dddddd);
  padding: 0.2em;
}
header#main_header > .buttons {
  position: absolute;
  z-index: 10;
  /* z-index works only on absolute */

}
header#main_header #breadcrumb {
  display: none;
  /* hide it in phone layout. Show in tablet and desktop */

  list-style: none;
  margin: 0.5em 0 0 0;
  padding: 0;
}
header#main_header #breadcrumb li {
  display: inline-block;
}
header#main_header #breadcrumb li a {
  display: inline-block;
  text-decoration: none;
  line-height: 2em;
  padding: 0 0.4em;
}
header#main_header #breadcrumb li + li:before {
  content: "»";
}
header#main_header a.button.back {
  display: block;
  overflow: hidden;
  font-size: 0.65em;
  text-align: center;
  width: 6em;
}
header#main_header a.button.back:before {
  display: block;
  margin: 0 auto;
  font-size: 3em;
  padding: 0;
}
div#main > h1 {
  position: absolute;
  top: 0.8em;
  left: 0.3em;
  right: 0.3em;
  text-align: center;
  margin: 0;
  z-index: 1;
}
ul#ops {
  position: absolute;
  z-index: 10;
  /* z-index works only on absolute */

  right: 0.4em;
  top: 0.4em;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul#ops li {
  display: inline-block;
}
ul#ops .button {
  overflow: hidden;
  width: 2.8em;
}
section#body {
  width: 100%;
  margin: 0;
}
section#body form {
  width: 98%;
  margin: 0 auto;
}
section#body form label {
  font-style: italic;
  font-weight: bold;
  display: block;
}
section#body form input,
section#body form select,
section#body form textarea,
section#body form a.button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto 0.8em auto;
}
section#body form input:not([type=submit]):not([type=button]),
section#body form select,
section#body form textarea {
  padding: 0.2em;
  line-height: 1.5;
  border: 1px solid #aaaaaa;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
section#body form textarea {
  height: 8em;
}
section#body article#page_project_bug header.info {
  padding: 0.5em;
  border-top: 1px solid #aaaaaa;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -ms-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -o-linear-gradient(top, #eeeeee, #ffffff);
  background-image: linear-gradient(top, #eeeeee, #ffffff);
}
section#body article#page_project_bug header.info .created_by {
  display: inline;
  font-size: 0.8em;
}
section#body article#page_project_bug header.info .created_on,
section#body article#page_project_bug header.info .status {
  display: inline;
  color: #888888;
  font-size: 0.7em;
}
section#body article#page_project_bug header.info .created_on:before,
section#body article#page_project_bug header.info .status:before {
  content: ' - ';
}
section#body article#page_project_bug .description {
  margin-bottom: 2em;
  padding: 0.5em;
}
section#body article#page_project_bug form {
  padding: 0.5em;
  width: auto;
  border-top: 1px solid #aaaaaa;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -ms-linear-gradient(top, #eeeeee, #ffffff);
  background-image: -o-linear-gradient(top, #eeeeee, #ffffff);
  background-image: linear-gradient(top, #eeeeee, #ffffff);
}
section#body article#page_project_bug form h1 {
  font-size: 0.75em;
  margin-top: 2em;
}
section#body ul.projects,
section#body ul.bugs {
  list-style: none;
  margin: 0;
  padding: 0;
}
section#body ul.projects li,
section#body ul.bugs li {
  display: block;
  padding: 0;
  margin: 0;
}
section#body ul.projects li > a,
section#body ul.bugs li > a {
  display: block;
  text-decoration: none;
  line-height: 3em;
  padding: 0.5em;
  vertical-align: middle;
  color: #000000;
  border-top: 1px solid #aaaaaa;
  background-image: -webkit-linear-gradient(#dddddd 0%, #eeeeee 40%, #dddddd 100%);
  background-image: -moz-linear-gradient(#dddddd 0%, #eeeeee 40%, #dddddd 100%);
  background-image: -ms-linear-gradient(#dddddd 0%, #eeeeee 40%, #dddddd 100%);
  background-image: -o-linear-gradient(#dddddd 0%, #eeeeee 40%, #dddddd 100%);
  background-image: linear-gradient(#dddddd 0%, #eeeeee 40%, #dddddd 100%);
}
@media only screen and (min-width: 38em) {
  
}
@media only screen and (min-width: 52em) {
  div#main > h1 {
    max-width: 70rem;
    margin: 0 auto;
    text-align: left;
    position: relative;
    padding: 1em 0 1.5em;
  }
  div#main header#main_header {
    padding-top: 1em;
  }
  div#main header#main_header div.buttons {
    display: none;
  }
  div#main header#main_header #breadcrumb {
    display: block;
    max-width: 70rem;
    margin: 0 auto;
  }
  div#main #body {
    max-width: 70rem;
    margin: 0 auto;
  }
  div#main #body #ops {
    position: relative;
    float: right;
    padding: 0.5em 0;
    text-align: right;
    left: 0;
    right: 0;
    top: -4.5em;
    bottom: 0;
  }
  div#main #body #ops a {
    width: auto;
  }
  div#main #body article.page_user {
    max-width: 40em;
    margin: 1em auto;
    padding: 1em;
    border: 1px solid #aaaaaa;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  div#main #body ul.projects,
  div#main #body ul.bugs {
    border-bottom: 1px solid #aaaaaa;
  }
  div#main #body ul.projects li > a,
  div#main #body ul.bugs li > a {
    background: transparent;
    padding: 1em;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
