<article id="page_user_login" class="page_user">
	<% if(message) { %>
		<p><%= message%></p>
	<% } %>

	<form action="/user/login" method="post">
		<p>
			<label for="username">Username</label>
			<input type="text" name="username" tabindex="1" />
		</p>

		<p>
			<label for="password">Password</label>
			<input type="password" name="password" tabindex="2" />
		</p>

		<input class="button ok login" type="submit" value="Login" />
		<a class="button register" href="/user/register">Register</a>
	</form>
</article>
