<article id="page_user_register" class="page_user">
	<form action="/user/" method="post">
		<p>
			<label for="username">Username</label>
			<input type="text" name="username" />
		</p>

		<p>
			<label for="password">Password</label>
			<input type="password" name="password" />
		</p>

		<p>
			<label for="name">Name</label>
			<input type="text" name="name" />
		</p>

		<p>
			<label for="email">eMail</label>
			<input type="text" name="email" />
		</p>

		<input class="button ok edit" type="submit" value="Create" />
		<a class="button login" href="/user/login">Login</a>
	</form>
</article>
